<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<div class="wrapper">

		<div class="footer-col-wrapper">
			<div class="footer-col footer-feed">
				<p class="feed-subscribe">
					<a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
						<svg class="svg-icon red">
							<use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
						</svg><span></span>
					</a>
				</p>
			</div>
			<div class="footer-col socials footer-socials">
				<a href="https://bsky.app/profile/ringlov.bsky.social">
					<i class="fab fa-bluesky social"></i>
				</a>
				<a href="https://ringlov.tumblr.com">
					<i class="fab fa-tumblr social"></i>
				</a>
				<a href="https://mastodon.art/@ringlov">
					<i class="fab fa-mastodon social"></i>
				</a>
				<a href="https://cara.app/ringlov">
					<i class="fa-solid fa-copyright"></i>
				</a>
			</div>
			{%- if site.author %} <!-- liquid that inserts the contact info -->
				<div class="footer-col footer-contact">
					<ul class="contact-list">
					{% if site.author.name -%}
						<li class="p-name">{{ site.author.name | escape }}</li>
					{% endif -%}
					{% if site.author.email -%}
						<li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
					{%- endif %}
					</ul>
				</div>
			{%- endif %}
			</div>
		</div>

		<div class="footer-col-wrapper footer-logo">
			<div class="footer-col footer-logo">
				<img src="/assets/images/ringlov_logo_pink_tiny.png" alt="ringlov logo" />

				<!-- <p>{{ site.description | escape }}</p> -->
			</div>
		</div>

		<!-- <div class="social-links">
			{%- include social.html -%}
		</div> -->

	</div>

</footer>