<!-- <ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
</ul> -->


<div class="socials">
  <a href="https://bsky.app/profile/ringlov.bsky.social" alt="bluesky">
    <i class="fab fa-bluesky social"></i>
  </a>
  <a href="https://ringlov.tumblr.com" alt ="tumblr">
    <i class="fab fa-tumblr social"></i>
  </a>
  <a href="https://mastodon.art/@ringlov" alt="mastodon">
    <i class="fab fa-mastodon social"></i>
  </a>
  <a href="https://cara.app/ringlov" alt="cara">
    <i class="fa-solid fa-copyright"></i>
  </a>
  <a href="https://linktr.ee/ringlov" alt="linktree">
    <i class="fa-brands fa-linktree"></i>
  </a>
</div>
