/**
 * Site header
 */

$darkpink : #b33d64;
$brightpink: #c70a46;
$lightpink: #e68f9f;
$notblack: #222;
$bodytext: #575757;
$midgrey: #999;
$lightgrey: #b3b3b3;
$lightestgrey: #f0f0f0;

.site-header {
	border-top: 5px solid $border-color-03;
	min-height: $spacing-unit * 1.865;
	line-height: $base-line-height * $base-font-size * 2.25;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.block-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.title-box {
	display: flex;
	flex-direction: column;
}

.site-title {
	@include relative-font-size(1.2);
	display: block;
	letter-spacing: 0.0714286em;
	margin-bottom: 0;
	margin-top: 20px;
	color: $notblack !important;
	font-family: Montserrat;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	text-transform: uppercase;
	line-height: 1.666em;
	margin-top: 20px;

	@include media-query($on-palm) {
		font-size: 20px;
		line-height: 1.666em;
		margin-top: 0px;
		font-weight: 600;
		padding-right: 45px;
	}

	@include media-query($on-laptop) {
		font-size: 20px;
		line-height: 1.666em;
		margin-top: 10px;
		font-weight: 600;
		padding-right: 45px;
	}

	&,
	&:visited {
		color: $site-title-color;
	}

	&:hover {
		color: $notblack !important;
	}
}

.site-subtitle {
	line-height: 1;
	margin-left: 2px;
	margin-bottom: 10px;
	font-family: Open Sans;
	font-weight: 400;
	font-style: normal;
	line-height: 1em;
	font-size: 14px;
	text-transform: none;
	text-decoration: none;
	color: $brightpink;
	letter-spacing: 0.142857em;
}

.site-nav {
	position: absolute;
	flex-grow: 1;
	top: 9px;
	right: $spacing-unit * .5;
	background-color: $background-color;
	border: 1px solid $border-color-01;
	border-radius: 5px;
	text-align: right;

	.nav-trigger {
		display: none;
	}

	.menu-icon {
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center;

		> svg path {
			fill: $border-color-03;
		}
	}

	label[for="nav-trigger"] {
		display: block;
		float: right;
		width: 36px;
		height: 36px;
		z-index: 2;
		cursor: pointer;
	}

	input ~ .trigger {
		clear: both;
		display: none;
	}

	input:checked ~ .trigger {
		display: block;
		padding-bottom: 5px;
	}

	.page-link {
		font-family: Open Sans;
		color: $midgrey !important;
		line-height: $base-line-height;
		text-transform: uppercase;
		font-variant: small-caps;
		font-weight: 400;
		display: block;
		padding: 5px 10px;
		margin-left: 20px;
		letter-spacing: 1px;
		font-size: 13px;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 0;
		}

		&:hover {
			color: $lightpink !important;
		}
	}

	.current-page {
			color: $brightpink !important;
		}

	@media screen and (min-width: $on-medium) {
		position: static;
		float: right;
		border: none;
		background-color: inherit;

		label[for="nav-trigger"] {
			display: none;
		}

		.menu-icon {
			display: none;
		}

		input ~ .trigger {
			display: block;
		}

		.page-link {
			display: inline;
			padding: 0;
			margin-left: auto;

			&:not(:last-child) {
				margin-right: 20px;
			}

			&:hover {
				color: $lightpink !important;
			}
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $border-color-01;
	padding: $spacing-unit 0;
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
	padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-col-wrapper,
.social-links {
	@include relative-font-size(0.9375);
	color: $brand-color;
}

.footer-col-wrapper a:hover {
	color: $lightpink;
}

.footer-col {
	margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
	width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
	.footer-col-1 {
		width: calc(35% - (#{$spacing-unit} / 2));
	}

	.footer-col-2 {
		width: calc(20% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: calc(45% - (#{$spacing-unit} / 2));
	}
}

@media screen and (min-width: $on-medium) {
	.footer-col-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.footer-col {
		width: calc(100% - (#{$spacing-unit} / 2));
		padding: 0 ($spacing-unit * .5);

		&:first-child {
			padding-right: $spacing-unit * .5;
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			padding-left: $spacing-unit * .5;
		}
	}
}

.footer-feed {
	display: flex;
	justify-content: left;
}

.footer-socials {
	display: flex;
	justify-content: center;
}

.footer-contact {
	display: flex;
	justify-content: right;
}

ul.contact-list {
	text-align: right;
}

.footer-logo {
	display: flex;
	justify-content: center;
}


/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
	flex: 1 0 auto;
	justify-content: center;
}

.page-heading {
	@include relative-font-size(2);
}

/**
 * Blog roll setup
 **/

.blog-heading {
	text-align: center;
	font-variant: small-caps;
}

.post-list-heading {
	@include relative-font-size(1.75);
}

.blog-roll-container {
	width: 100vw;
	max-width: $content-width - $spacing-unit *2;
	display: flex;
	justify-content: space-between;

	@include media-query($on-palm) {
		flex-direction: column;
	}
}

.post-list {
	display: block;
	flex-flow: row no-wrap;
	justify-content: center;
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $lightgrey;
	padding: 5px;
	text-align: center;

	.post-image {
		margin-right: $spacing-unit;
		width: 15vh;
		height: 15vh;
		object-fit: cover;
		border-radius: 30px;
	}
}

.pinned-post-list {
	display: flex;
	flex-direction: row-reverse;
}

.blog-roll-main {
	flex: 3 1 0;
	margin: $spacing-unit;

}

.post-list .pinned-post {
	min-width: 30vw;
	max-width: $content-width;
	list-style-type: none;
  border: 1px solid $lightgrey;
  background-color: $lightestgrey;
  padding: 5px;
  margin-bottom: $spacing-unit;
  border-radius: 3px;

	@include media-query($on-laptop) {
		flex-flow: column wrap;
		max-width: $content-width;
		width: 80vw;
		padding: 5px;
	}	

	@include media-query($on-palm) {
		flex-flow: column wrap;
		max-width: $content-width;
		width: 80vw;
		padding: 5px;
	}
}

.post-listing, .post-listing.pinned-post {
	display: flex;
	justify-content: flex-start;
	padding: $spacing-unit * .5;
	/** border: 5px solid; 	 to be removed eventually **/
	/** border-color: red; 		 to be removed eventually **/

	.post-meta {
		text-align: left;
	}

	@include media-query($on-palm) {
			flex-flow: column wrap;
			max-width: $content-width;
			padding: 5px;
		}
}

.post-listing-text {
	text-align: left;
}

.plain-text {
	background-color: transparent;
}

.post-link {
	display: block;
	@include relative-font-size(1);
	font-family: Open Sans;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5em;
	font-size: 2.2em;
	text-transform: none;
	text-decoration: none;
	text-align: left;
	letter-spacing: .06em;
	color: $darkpink !important;
}

@include media-query($on-laptop) {
	.post-meta {
		width: 100%;

		.post-image {
			width: 252px;
			height: 252px;
		}
	}
}

.read-more {
	margin-top: $spacing-unit;
}

.blog-roll-sidebar {
	flex: 1 2 0;
	margin: $spacing-unit;

	@include media-query($on-palm) {
			/** display: none; **/
		}
}

.sidebar-item {
	margin-bottom: $spacing-unit;
}

code.tagcloud {
	background-color: transparent;
	color: $darkpink;
	border: none;

	:hover {
		color: $lightpink;
	}
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-tags {
	font-size: $small-font-size;
	color: $lightgrey !important;
	background-color: transparent;
	padding: 5px;
	text-align: center;

	code {
		background-color: transparent;
		border: none;
	}
}

.post-content {
	width: 80vw;
	max-width: $content-width - $spacing-unit *2;
}

.post-title,
.post-content h1 {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1.15;

	@media screen and (min-width: $on-large) {
		@include relative-font-size(2.625);
	}
}

.post-title {
	text-align: center;
}

.post-content {
	margin-bottom: $spacing-unit;

	h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

	h2 {
		@include relative-font-size(1.75);

		@media screen and (min-width: $on-large) {
			@include relative-font-size(2);
		}
	}

	h3 {
		@include relative-font-size(1.375);

		@media screen and (min-width: $on-large) {
			@include relative-font-size(1.625);
		}
	}

	h4 {
		@include relative-font-size(1.25);
	}

	h5 {
		@include relative-font-size(1.125);
	}
	h6 {
		@include relative-font-size(1.0625);
	}
}


.social-media-list {
	display: table;
	margin: 0 auto;
	li {
		float: left;
		margin: 5px 10px 5px 0;
		&:last-of-type { margin-right: 0 }
		a {
			display: block;
			padding: 10px 12px;
			border: none;
			&:hover { border-color: $border-color-02 }
		}
	}
}


/**
 * Gallery display
 */

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: $spacing-unit;
	max-width: $content-width - $spacing-unit*2;
	width: 80vw;

	li.gallery-item {
		list-style: none;
		padding: 5px;
		max-height: 15vw;
		max-width: 15vw;
		flex-grow: 1;

		@include media-query($on-palm) {
			flex-direction: column-reverse;
			max-width: 30vw;
			min-height: 30vw;
		}
	}

	img {
		max-height: 100%;
		min-width: 100%;
		object-fit: cover;
		vertical-align: bottom;
	}
}



/**
 * Pagination navbar
 */
.pagination {
	margin-bottom: $spacing-unit;
	@extend .social-media-list;
	li {
		a, div {
			min-width: 41px;
			text-align: center;
			box-sizing: border-box;
		}
		div {
			display: block;
			padding: $spacing-unit * .25;
			border: 1px solid transparent;

			&.pager-edge {
				color: $border-color-01;
				border: 1px dashed;
			}
		}
	}
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
	.one-half {
		width: calc(50% - (#{$spacing-unit} / 2));
	}
}

.page-content .wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

@include media-query($on-laptop) {
	.page-content {
		padding-top: 10px;
	}
}

.post-content img {
	margin: 5px;
	width: 80%;
	object-fit: cover;
}

.post-header-image {
	display: flex;
	justify-content: center;
	max-width: 50vh;
	object-fit: cover;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-unit;

	@include media-query($on-palm) {
		flex-direction: column-reverse;
		margin: auto;
		margin-bottom: $spacing-unit;
		max-width: $content-width;
		width: 80vw;
	}
}

article.post {
	max-width: $content-width - $spacing-unit*2;
	width: 80vw;

	@include media-query($on-palm) {
		flex-direction: column-reverse;
		max-width: 90vw;
		min-height: 90vw;
	}
}

a {
	text-decoration: none !important;
	color: $brightpink !important;

	&:hover {
		color: $lightpink !important;
	}
}

.trigger {
	margin-top: 17px;

	@include media-query($on-laptop) {
		margin-top: 0;

		.page-content {
			padding-top: 10px;
		}
	}
}

h1 {
	color: $darkpink;
	text-decoration: none;
	font-family: Open Sans;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5em;
	font-size: 2.2em;
	text-transform: none;
	letter-spacing: .06em;
}

h2 {
	color: $lightpink;
	font-family: Open Sans;
	font-weight: 600;
	font-style: normal;
	line-height: 1.2em;
	font-size: 1.4em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2em;
}

h3 {
	color: #454545;
	font-family: Open Sans;
	font-weight: 600;
	font-style: normal;
	line-height: 1.2em;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2em;
}

#landing, #landing_socials, #mc_embed_shell, #mc_embed_signup {
	margin: auto;
	text-align: center;
	justify-content: center;
}

.indicates-required {
	margin-right: 0 !important;
}

.mc-field-group {
	width: 100% !important;
}

input.button {
	background-color: $darkpink !important;
}

input.button:hover {
	background-color: $lightpink !important;
}



/**** Misc ****/

.post-content.about {
	width: 100vw;
	max-width: $content-width - $spacing-unit*2;
	display: flex !important;
	flex-flow: row no-wrap;
	justify-content: space-between;
	margin: 0;

	/* .about-content {
		width: 50vw;
		margin: $spacing-unit;
	} */

	/* @include media-query($on-laptop) {
		.about-content {
			width: 300px;
		}
	} */

	@include media-query($on-palm) {
		flex-flow: column-reverse wrap;

		.about-content {
			margin: 5px;
		}
	}
}

img.about-image {
	width: 100%;
}

.about-content {
	text-align: justify;
	margin: $spacing-unit;
}




.fa-bluesky {
	font-size: 1.5em;
}

.fa-mastodon {
	font-size: 1.7em;
}

.fa-copyright {
	padding-top: 6px;
	font-size: 1.3em;
}

li:has(> i.post-pin) {
	position: relative;
}

.post-pin {
	font-size: 1.3em;
	position: absolute;
  top: 10px;
  right: 15px;
  color: $darkpink;
  rotate: 45deg;
}
