---
layout: base
---

<div class="home">
	{% if site.paginate %}
		{% assign posts = paginator.posts %}
	{% else %}
		{% assign posts = site.categories.blog %}
	{% endif %}

	{%- if posts.size > 0 -%}
		{%- if page.list_title -%}
			<h2 class="post-list-heading">{{ page.list_title }}</h2>
		{%- endif -%}

		<div class="blog-heading">
			<h2>Blog</h2>
		</div>

		<!-- Pinned Posts Section -->
	  <!-- scan through posts to find posts tagged pinned, so they can be generated first, and with a custom css -->
	  <ul class="post-list pinned-post-list">
	    {% for post in site.posts %} {% if post.tags contains 'pinned' %}
	    <!-- <li class="pinned-post post-listing">
	      <span class="post-date post-meta">Pinned Post</span>
	      <a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
	      </a>
	      <br />
	      {% if post.custom_excerpt %}
	      <p>{{ post.custom_excerpt }}</p>
	      {% else %}
	      <p>{{ post.description }}</p>
	      {% endif %}
	    </li> -->

	    <li>
				<div class="post-meta post-listing pinned-post">
					<div>
						<img class="post-image" src="{{ post.image }}" />
					</div>
					<div class="post-listing-text">
						<div>
							<a class="post-link" href="{{ post.url | relative_url }}">
								{{ post.title | escape }}
							</a>
						</div>
						<!-- <div class="post-meta">{{ post.date | date: date_format }}</div> -->
						<span class="post-description plain-text">
							{{ post.description }}
						</span>
					</div>
				</div>
				<i class="fa-solid fa-thumbtack post-pin"></i>
	    </li>

	    {% endif %} {% endfor %}
	  </ul>

		<!-- Normal post list -->
		<div class="blog-roll-container">

			<div class="blog-roll-main">
				<h2>Latest posts</h2>
				<ul class="post-list">
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
					{%- for post in posts -%}
					<li>
						<div class="post-listing post-meta">
							<div>
								<img class="post-image" src="{{ post.image }}" />
							</div>
							<div class="post-listing-text">
								<div>
									<a class="post-link" href="{{ post.url | relative_url }}">
										{{ post.title | escape }}
									</a>
								</div>
								<div class="post-meta">
									{{ post.date | date: date_format }}
								</div>
								<span class="post-description plain-text">
									{{ post.description }}
								</span>
								<div>
									<a class="read-more" href="{{ post.url | relative_url }}">
										<br />
										(Read more...)
									</a>
								</div>
							</div>
						</div>

						<!--
							{%- if site.show_excerpts -%}
								{{ post.excerpt }}
							{%- endif -%}
						-->
					</li>
					{%- endfor -%}
				</ul>
			</div>

			<div class="blog-roll-sidebar">
				<h3>Tags</h3>

				<h3>Archive</h3>

			</div>
		</div>

		{% if site.paginate %}
			<div class="pager">
				<ul class="pagination">
				{%- if paginator.previous_page %}
					<li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
				{%- else %}
					<li><div class="pager-edge">•</div></li>
				{%- endif %}
					<li><div class="current-page">{{ paginator.page }}</div></li>
				{%- if paginator.next_page %}
					<li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
				{%- else %}
					<li><div class="pager-edge">•</div></li>
				{%- endif %}
				</ul>
			</div>
		{%- endif %}

	{%- endif -%}

</div>
